/* An example of a CSS rules relating to my homepage */


body {
    
     background-color: thistle;
    font-family: Arial, Helvetica, sans-serif;
}


p.round {border: 2px solid black;
         border-radius:8px
}



